.poster {
  width: 100%;
  height: auto;
}
.poster_header {
  margin-bottom: 40px;
}

.poster_header h1 {
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 30px;
}
.poster_header p {
  font-family: Circe;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}
.poster__filter {
  width: 65%;
  margin-bottom: 40px;
}

.poster__performer {
  margin-left: 5px;
}

.posterdate,
.postercity,
.posterperformer {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.posterdate,
.postercity {
  width: 100%;
}
.posterperformer {
  width: 65%;
}

.poster_redirect,
.poster_redirect:hover {
  text-decoration: none;
}

.poster__item {
  width: 100%;
  height: 430px;
  margin-bottom: 40px;
}
.poster__img {
  width: 100%;
  min-height: 254px;
  height: 254px;
}

.poster__item img {
  width: 100%;
  height: 100%;
}

.poster_sale {
  position: relative;
  height: 32px;
  background-color: #aa219e;
  border-radius: 25px;
  top: -45px;
  left: 10px;
  display: inline-block;
}

.poster_sale p {
  text-align: center;
  padding: 8px 20px;
  color: white;
  font-family: Circe;
}

.poster_outlink,
.poster_outlink:hover {
  text-align: center;
  padding: 0px 20px;
  color: white;
  font-family: Circe;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.poster__miniature {
  width: 100%;
  margin-bottom: 18px;
  margin-top: -10px;
}

.poster__circle {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.poster__miniature h6 {
  margin-left: 10px;
  display: inline-block;
  color: black;
  position: absolute;
  margin-top: 17px;
  font-weight: 700;
  font-size: 18px;
}

.poster__item h4 {
  color: black;
  font-weight: 700;
  margin-bottom: 16px;
}

.poster_place {
  margin-bottom: 8px;
  color: #aa219e;
}

.poster_date {
  color: black;
}

.poster__footer {
  width: 100%;
  height: 100px;
}

.poster__input {
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 400;
  text-align: center;
}
.poster__btn {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 10.34px;
  font-weight: 600;
  border: solid 1px #aa219e;
  width: 250px;
  height: 54px;
  color: #000000;
  margin: 0 auto;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 575.98px) {
  .poster__date,
  .poster__city,
  .poster__performer {
    margin-bottom: 15px;
  }
  .posterperformer {
    width: 100%;
  }
  .poster__filter {
    width: 100%;
    margin-bottom: 40px;
  }
  .poster__item {
    width: 100%;
    height: 430px;
    margin-bottom: 0px;
  }
  .poster__img {
    width: 100%;
    min-height: 210px;
    height: 210px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .poster__filter {
    width: 100%;
  }
  .poster__item {
    width: 100%;
    height: 430px;
    margin-bottom: 0px;
  }
  .poster__img {
    width: 100%;
    min-height: 210px;
    height: 210px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .poster__filter {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .poster_header {
    padding-right: 35%;
  }
  .poster__img {
    width: 100%;
    min-height: 230px;
    height: 230px;
  }
}

@media only screen and (min-width: 1200px) {
  .poster_header {
    padding-right: 35%;
  }
}
